#!/bin/sh

# PROVIDE: freebsdguy
# REQUIRE: LOGIN
# KEYWORD: shutdown

. /etc/rc.subr

name="freebsdguy"
rcvar="freebsdguy_enable"

load_rc_config $name

: ${freebsdguy_enable:="NO"}
: ${freebsdguy_user:="www"}
: ${freebsdguy_dir:="/usr/local/www/freebsdguy"}

pidfile="/var/run/${name}.pid"
procname="/usr/local/bin/node"
command="/usr/sbin/daemon"
command_args="-f -p ${pidfile} -u ${freebsdguy_user} ${procname} ${freebsdguy_dir}/server/index.js"

start_precmd="freebsdguy_prestart"

freebsdguy_prestart() {
    if [ ! -d "/var/run" ]; then
        mkdir -p /var/run
    fi
}

run_rc_command "$1"
